
div#aboutme img {
    border: none;
}

footer {
    font-size: smaller;
}

.footnote-reference {
    vertical-align: super;
    font-size: smaller;
}

div.entry-content {
    max-width: 40em;
}


body {
    font-size: 12pt;
    line-height: 1.4em;
}
