
div#aboutme img {
    border: none;
}

footer {
    font-size: smaller;
}

.footnote-reference {
    vertical-align: super;
    font-size: smaller;
}

div.entry-content {
    max-width: 40em;
}

/* So that in-post headings don't overwhelm the blog post title on listing page. */
div.summary h2 {
    font-size: 24px;
}

body {
    font-size: 12pt;
    line-height: 1.4em;
}

div.social-banner {
    text-align: center;
}

.social-banner li {
    padding: 1em;
}
