{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}
{% set HIDE_SIDEBAR = True %}
{% set ABOUT_ME = False %}
{% set AVATAR = False %}
{% set BANNER = True %}

{% block banner %}
<div class="jumbotron">
  <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
    <h1>{{ page.title }}</h1>
    <p>
      {{ page.content }}
    </p>
  </div>
</div>
<div class="container-fluid social-banner">
  <ul class="list-group list-inline">
    <li class="list-group-item">
      <a href="https://github.com/jml"><i class="fa fa-github fa-3x"></i></a>
    </li>
    <li class="list-group-item">
      <a href="https://www.linkedin.com/profile/view?id=5746961"><i class="fa fa-linkedin-square fa-3x"></i></a>
    </li>

    <li class="list-group-item">
      <a href="/blog/"><img src="/images/jml-transparent-small.png" /></a>
    </li>

    <li class="list-group-item">
      <a href="mailto:_@jml.io"><i class="fa fa-envelope fa-3x"></i></a>
    </li>
    <li class="list-group-item">
      <a href="http://stackoverflow.com/users/463800/jml"><i class="fa fa-stack-overflow fa-3x"></i></a>
    </li>
  </ul>
</div>
{% endblock %}
